@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form class="navForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
        <ul class="lijst">
            <li class="lijstItem"><div class="grow lijstItem">hallooo</div></li>
            <li class="lijstItem"><a class="navLink" asp-controller="Lid" asp-action="Index">Profiel</a></li>
            <li class="lijstItem"><button class="navLink navButton" type="submit">Afmelden</button></li>
        </ul>

    </form>
}
else
{
    <ul class="lijst">
        <li class="lijstItem"><a asp-area="Identity" asp-page="/Account/Login" class="navLink">Aanmelden</a></li>
    </ul>
}