@{
    ViewData["Title"] = "Verwijderen";
}

<div>
    <h2>Ben je zeker dat je @ViewData["Name"] wilt verwijderen?</h2>
    <form method="post">
        <button type="submit" class="btn btn-primary">Ja</button>
        <button asp-action="Index" class="btn btn-default">Nee</button>
    </form>
</div>

