/* /////////////ALGEMEEN////////////// */

@font-face {
    font-family: Lato;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}


* {
    margin: 0px;
    padding: 0px;
    font-family: Lato;
}

body, html {
    height: 100%;
    font-family: sans-serif;
}

button:focus {
    outline: 0;
}


a {
    cursor: pointer;
}



/*////////////////INDEX////////////////*/



forms {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 100rem;
}

.centerForm {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.filters {
    width: 100%;
}

.okKnop {
    text-align: center;
    color: white;
    border: none;
    font-size: 15px;
    background-color: #996888;
    color: black;
    border-radius: 10px;
    width: 70px;
    color: white;
    height: 40px;
    background-size: 35px 35px;
    outline-width: 0;
    transition: ease 0.4s;
}

    .okKnop:hover {
        transform: scale(0.96, 0.96);
        background-color: #B6C8C0;
        color: black;
    }

.inputLabel {
    padding-top: 10px;
    margin-right: -20px;
    padding-left: 10px;
    font-family: Lato;
    font-weight: 400;
    font-size: 15px;
}

.inp {
    display: flex;
    position: relative;
    margin: auto;
    width: 24%;
    min-width: 100px;
    max-width: 180px;
    align-items: center;
}

    .inp .border {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: #996888;
        transform: scaleX(0);
        transform-origin: 0 0;
        transition: all 0.35s ease;
    }

    .inp input {
        -webkit-appearance: none;
        width: 100%;
        border: 0;
        padding: 12px 0;
        height: 48px;
        font-size: 16px;
        font-weight: 500;
        border-bottom: 2px solid #B6C8C0;
        background: none;
        border-radius: 0;
        color: black;
        transition: all 0.15s ease;
    }

        .inp input:focus {
            background-color: none;
            outline: none;
            border-bottom: #B6C8C0;
        }

        .inp input:hover {
            background: rgba(34,50,84,0.03);
        }

        .inp input:focus + span + .border {
            transform: scaleX(1);
        }


/*------ Tabel ---------*/
/*Tabel zelf*/
.limiter {
    width: 100%;
    margin: 0 auto;
}

.tableContainer {
    width: 100%;
    min-height: 100vh;
    background: #c4d3f6;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 30px;
}

.tabelWrap {
    width: 990px;
    border-radius: 6px;
    overflow: hidden;
    margin: 0 auto;
}

.tabel {
    padding-top: 20px;
    width: 100%;
    display: table;
    margin: 0;
}

/* Rij */

.rij {
    display: table-row;
    background: #fff;
}

    .rij.header {
        color: #ffffff;
        background: #996888;
    }

.table, .rij {
    width: 100% !important;
}

    .rij:not(.header):hover {
        background-color: #ececff;
        /*background-color: ##B6C8C0; -----> voor als het standaard groen beter is */
        cursor: pointer;
    }


/* Cell */
.cell {
    display: table-cell;
}


.rij .cell:nth-child(1) {
    width: 360px;
    padding-left: 40px;
}

.rij .cell:nth-child(2) {
    width: 160px;
}

.rij.header .cell {
    font-family: Lato;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;
    padding-top: 19px;
    padding-bottom: 19px;
}

.rij .cell {
    font-family: Lato;
    font-size: 15px;
    line-height: 1.2;
    font-weight: unset !important;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}

    .rij .cell:nth-child(3) {
        width: 250px;
    }

    .rij .cell:nth-child(4) {
        width: 190px;
    }



/*//////////////AANWEZIGHEDEN/////////////*/
.titleAanwezigheden {
    text-align: center;
    padding-bottom: 0px;
    font-family: Lato;
    font-weight: 900;
}

.vetKleur {
    color: #996888;
}


/*------- Inputfields ---------*/
.volledigeForm {
    padding-bottom: 10px;
    width: 100%;
    height: 60px;
}

input {
    box-sizing: border-box;
    font-size: 15px;
    vertical-align: top;
}

.wrapper {
    position: relative;
    height: 40px;
    min-width: 150px;
    font-size: 0;
    top: 50%;
    text-align: center;
}


.search {
    padding: 0 30px;
    font-size: 16px;
    max-width: 400px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px 0 0 10px;
    outline-width: 0;
}

.submit {
    cursor: pointer;
    border: none;
    font-size: 15px;
    background-color: #996888;
    color: black;
    border-radius: 0 10px 10px 0;
    padding: 0px 30px;
    color: white;
    height: 40px;
    background-size: 35px 35px;
    outline-width: 0;
    transition: ease 0.4s;
}

    .submit:hover {
        background-color: #B6C8C0;
        color: black;
    }

.filterKnop {
    padding: 10px 10px;
    position: relative;
    margin: 3px 10px;
    width: 100px;
    overflow: hidden;
    align-content: center;
    background-color: #996888;
    color: white;
    border-radius: 10px;
    border: none;
    text-align: center;
    transition: ease 0.4s;
}

    .filterKnop:hover {
        background-color: #B6C8C0;
    }



/*------- Aanwezigheidkaart ---------*/
.aanwezighedencontainer {
}

.aanwezighedenWrap {
}

.row-flex {
    margin: -.2px;
}

.aanwezigKaart {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    box-shadow: rgba(0,0,0,0.1) 0px 2px 7px;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
    width: 22.9%;
    height: 200px;
    background: rgb(240, 241, 243);
    border: 1px solid rgba(118, 114, 110, 0.1);
    border-image: initial;
    border-radius: 1rem;
    margin: 1rem;
    transition: ease 0.4s;
    position: relative;
    justify-content: center;
    align-items: center;
}

    .aanwezigKaart:hover {
        transform: scale(1.03,1.03);
    }

    .aanwezigKaart.aanwezigFalse {
        border-top: 0.5rem solid #E54B4B;
    }

        .aanwezigKaart.aanwezigFalse:hover {
            border-top: 0.5rem solid #923030;
            /*color: #923030;*/
        }

    .aanwezigKaart.aanwezigTrue {
        border-top: 0.5rem solid #A5D0A8;
    }

        .aanwezigKaart.aanwezigTrue:hover {
            border-top: 0.5rem solid #6A856B;
            /*color: #6A856B;*/
        }

.aanwezigFalse {
    border-top: 0.5rem solid #E54B4B;
}

.aanwezigTrue {
    border-top: 0.5rem solid green;
}

.aanwezigLidName {
    font-weight: 900;
    font-size: 2.1rem;
}

/*Alles in de kaart*/

.allesInKaart {
    display: block;
    width: 100%;
    text-align: center;
}

/*Knop in de Afwezigheidkaart*/
.knopKaart {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
}


/*foto in de Afwezigheidkaart*/
.foto {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 100px;
    border-radius: 50%;
    margin: 20px auto 10px auto;
}


.gastLidKnop {
    text-align: center;
    color: white;
    border: none;
    font-size: 15px;
    background-color: #996888;
    color: black;
    border-radius: 10px;
    padding: 0px 30px;
    margin-bottom: 20px;
    width: 200px;
    color: white;
    height: 40px;
    background-size: 35px 35px;
    outline-width: 0;
    transition: ease 0.4s;
}

    .gastLidKnop:hover {
        transform: scale(0.98, 0.98);
        background-color: #B6C8C0;
        color: black;
    }


.ongewoonLidForm {
    margin-top: -10px;
    margin-bottom: 20px;
}

.gastlid-input {
    margin: 4px;
}

.gastlid-label {
    display: inline-block;
    clear: left;
    width: 100px;
    margin: 4px;
}

.leftright {
    width: 100%;
    float: left;
    margin-right: 30px;
    overflow: hidden;
}

.gastlid {
    padding-left: 10px
}

.status {
    font-weight: 900;
}

.aanwezigFalse .status {
    color: #923030;
}

.aanwezigTrue .status {
    color: #A5D0A8;
}


.gastLidFlexRij {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F4F4F4;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 20px;
}

.gastKnopCenter {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F4F4F4;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 20px;
    margin-top: -12px;
}

.gastKnop {
    margin: 15px;
    text-align: center;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    width: 100px;
    color: white;
    height: 40px;
    background-size: 35px 35px;
    outline-width: 0;
    transition: ease 0.4s;
    color: black;
    background-color: #B6C8C0;
}

    .gastKnop:hover {
        transform: scale(0.96, 0.96);
        background-color: #996888;
        color: white;
        
    }