/* /////////////ALGEMEEN////////////// */
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}


* {
    margin: 0px;
    padding: 0px;
}

body, html {
    height: 100%;
    font-family: sans-serif;
}

button:focus {
    outline: 0;
}

.test {
    padding-bottom: 10px;
}

/*////////////////INDEX////////////////*/

/*------ Tabel ---------*/

/*Tabel zelf*/

.limiter {
    width: 100%;
    margin-top: 0 auto;
}

.tableContainer {
    width: 100%;
    min-height: 100vh;
    background: #c4d3f6;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 30px;
}

.tabelWrap {
    width: 990px;
    border-radius: 6px;
    overflow: hidden;
}

.tabel {
    padding-top: 20px;
    width: 100%;
    display: table;
    margin: 0;
}

/* Rij */

.rij {
    display: table-row;
    background: #fff;
}

    .rij.header {
        color: #ffffff;
        background: #996888;
    }

.table, .rij {
    width: 100% !important;
}

    .rij:not(.header):hover {
        background-color: #ececff;
        cursor: pointer;
    }


/* Cell */
.cell {
    display: table-cell;
}


.rij .cell:nth-child(1) {
    width: 360px;
    padding-left: 40px;
}

.rij .cell:nth-child(2) {
    width: 160px;
}

.rij.header .cell {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;
    padding-top: 19px;
    padding-bottom: 19px;
}

.rij .cell {
    font-family: Poppins-Regular;
    font-size: 15px;
    line-height: 1.2;
    font-weight: unset !important;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}

    .rij .cell:nth-child(3) {
        width: 250px;
    }

    .rij .cell:nth-child(4) {
        width: 190px;
    }



/*//////////////AANWEZIGHEDEN/////////////*/
.titleAanwezigheden {
    text-align: center;
    padding-bottom: 0px;
}

.vetKleur {
    color: #996888;
}


/*------- Inputfields ---------*/
.volledigeForm {
    padding-left: 27px;
    padding-bottom: 10px;
    width: 100%;
    height: 60px;
}

input {
    box-sizing: border-box;
    font-size: 15px;
    vertical-align: top;
}

.wrapper {
    position: relative;
    height: 40px;
    font-size: 0;
    top: 50%;
    text-align:center;
}

.search {
    padding: 0 30px;
    font-size: 16px;
    max-width: 400px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px 0 0 10px;  
    outline-width:0;
}

.submit {
    cursor: pointer;
    border: none;
    font-size: 15px;
    background-color: #996888;
    color: black;
    border-radius: 0 10px 10px 0;
    padding: 0px 30px;
    color: white;
    height: 40px;
    background-size: 35px 35px;
    outline-width: 0;
    transition: ease 0.4s;
}
    .submit:hover {
        background-color: #B6C8C0;
    }

.filterKnop {
    padding: 10px 10px;
    position: relative;
    margin: 3px 10px;
    width: 100px;
    overflow: hidden;
    align-content: center;
    background-color: #996888;
    color: white;
    border-radius: 10px;
    border: none;
    text-align: center;
    transition: ease 0.4s;
}

    .filterKnop:hover {
        background-color: #B6C8C0;
    }

.inp {
    position: relative;
    float: left;
    margin: auto;
    width: 24%;
    min-width: 200px;
    max-width: 280px;
}

    .inp .label {
        position: absolute;
        top: 16px;
        left: 0;
        font-size: 15px;
        color: #9098a9;
        font-weight: 500;
        transform-origin: 0 0;
        transition: all 0.3s ease;
    }

    .inp .border {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: #07f;
        transform: scaleX(0);
        transform-origin: 0 0;
        transition: all 0.35s ease;
    }

    .inp input {
        -webkit-appearance: none;
        width: 100%;
        border: 0;
        padding: 12px 0;
        height: 48px;
        font-size: 16px;
        font-weight: 500;
        border-bottom: 2px solid #c8ccd4;
        background: none;
        border-radius: 0;
        color: black;
        transition: all 0.15s ease;
    }

        .inp input:focus {
            background-color: none;
            outline: none;
            border-bottom: #B6C8C0;
        }

            .inp input:focus + span {
                transform: translateY(-26px) scale(0.75);
            }

        .inp input:hover {
            background: rgba(34,50,84,0.03);
        }

        .inp input:focus + span + .border {
            transform: scaleX(1);
        }





/*------- Aanwezigheidkaart ---------*/
.row-flex {
    margin: -.2px;
}

.aanwezigKaart {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    box-shadow: rgba(0,0,0,0.1) 0px 2px 7px;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
    width: 22.9%;
    height: 200px;
    background: rgb(240, 241, 243);
    border: 1px solid rgba(118, 114, 110, 0.1);
    border-image: initial;
    border-radius: 1rem;
    margin: 1rem;
    transition: ease 0.4s;
    position: relative;
    justify-content: center;
    align-items: center;
}

    .aanwezigKaart:hover {
        transform: scale(1.03,1.03);
    }

    .aanwezigKaart.aanwezigFalse {
        border-top: 0.5rem solid #E54B4B;
    }

        .aanwezigKaart.aanwezigFalse:hover {
            border-top: 0.5rem solid #923030;
            color: #923030;
        }

    .aanwezigKaart.aanwezigTrue {
        border-top: 0.5rem solid #A5D0A8;
    }

        .aanwezigKaart.aanwezigTrue:hover {
            border-top: 0.5rem solid #6A856B;
            color: #6A856B;
        }

.aanwezigFalse {
    border-top: 0.5rem solid #E54B4B;
}

.aanwezigTrue {
    border-top: 0.5rem solid green;
}

.aanwezigLidName {
    font-size: 1.5em;
}

/*Alles in de kaart*/

.allesInKaart {
    display: block;
    width: 100%;
    text-align: center;
}

/*Knop in de Afwezigheidkaart*/
.knopKaart {
    position:absolute;
    display: inline-block;
    width: 100%;
    height:100%;
    border: none;
    background-color: transparent;
}


/*foto in de Afwezigheidkaart*/
.foto {
    cursor:pointer;
    position:relative;
    display: block;
    max-width: 100px;
    border-radius: 50%;
    margin: 20px auto 10px auto;
}

a {
    cursor:pointer;
}
