body {
}

.wijzigPagina {
    width: 100%;
    margin: 0 auto;
}

.editContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    background-color: #F4F4F4;
    border-radius: 10px;
    margin-bottom: 20px;
}

.tussenTitelContainer {
    margin: 0;
    display: flex;
    flex-direction: row;
    padding-left: 40px;
}

.deelContainer {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
}

.editLabel {
    padding: 10px 0 0px 0;
    font-weight: 300;
    font-size: 13px
}

.editInput {
    display: block;
    width: 300px;
    font-size: 14px;
    line-height: 1.2;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    outline: none;
}

.editKnoppen {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.submitKnop {
    margin: 15px;
    text-align: center;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    width: 200px;
    color: white;
    height: 40px;
    background-size: 35px 35px;
    outline-width: 0;
    transition: ease 0.4s;
}

    .submitKnop:hover {
        transform: scale(0.96, 0.96);
    }

.annuleren {
    background-color: #C3C3C3;
    color: black;
    border: 1px solid #989898;
}

    .annuleren:hover {
        background-color: #923030;
        color: white;
    }

.opslaan {
    color: white;
    background-color: #996888;
}

    .opslaan:hover {
        background-color: #B6C8C0;
        color: black;
    }

