@{
    ViewData["Title"] = "Startpagina";
}

<div class="home">
    <br />
    <br />
    <h1>Taijitan Roshin Ryu</h1>
    <br />
    <br />
    <br />
    <img class="headerImage" src="~/images/BeginSchermImage.png" />
</div>