@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Startpagina";
}
<div class="container"><h3 class="title">Kies een optie!</h3></div>
<hr />

<div class="container">
    <div class="row-flex">
        @if ((await AuthorizationService.AuthorizeAsync(User, "Beheerder")).Succeeded ||
(await AuthorizationService.AuthorizeAsync(User, "Trainer")).Succeeded) {
<div class="col-md-3 kaart">
    <div class="well icoon">
        <img class="lijstImg centerDiv" src="~/images/Profiel.png" />
        <a asp-controller="Lid" asp-action="Index" class="btn btn-default knop">Profiel</a>
    </div>
</div>

<div class="col-md-3 kaart">
    <div class="well icoon">
        <img class="lijstImg centerDiv" src="~/images/Lesmateriaal.png" />
        <a asp-controller="Oefening" asp-action="Leden" class="btn btn-default knop">Lesmateriaal</a>
    </div>
</div>
<div class="col-md-3 kaart">
    <div class="well icoon">
        <img class="lijstImg centerDiv" src="~/images/Aanwezigheden.png" />
        <a asp-controller="Aanwezigheid" asp-action="Index" class="btn btn-default knop">Aanwezigheden</a>
    </div>
</div>}
else if ((await AuthorizationService.AuthorizeAsync(User, "Lid")).Succeeded ||
(await AuthorizationService.AuthorizeAsync(User, "Proeflid")).Succeeded ||
(await AuthorizationService.AuthorizeAsync(User, "Gast")).Succeeded) {
<div class="col-md-3 kaart">
    <div class="well icoon">
        <img class="lijstImg centerDiv" src="~/images/Profiel.png" />
        <a asp-controller="Lid" asp-action="Index" class="btn btn-default knop">Profiel</a>
    </div>
</div>
<div class="col-md-3 kaart">
    <div class="well icoon">
        <img class="lijstImg centerDiv" src="~/images/Lesmateriaal.png" />
        <a asp-controller="Oefening" asp-action="Leden" class="btn btn-default knop">Lesmateriaal</a>
    </div>
</div>
}
    </div>
</div>

<hr>
