@model IEnumerable<PROJ20_G20_DOTNET.Models.Domain.Activiteit>

@{
    ViewData["Title"] = "Aanwezigheden";
}

<div>
    <h2>Klik op de activiteit waarvoor u de aanwezigheden wilt wijzigen.</h2>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Naam activiteit</th>
            <th>Datum</th>
            <th>Formule</th>
            <th></th>
        </tr>

        @foreach (var Activiteit in Model) {
            <tr>
                <td>@Activiteit.Naam</td>
                <td>@Activiteit.BeginDatum</td>
                <td>@Activiteit.Formule</td>
                <td class="text-right">
                    <form>
                        <a asp-action="IndexAanwezigheden" asp-route-id="@Activiteit.Id">Aanwezigheden</a>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>