@model IEnumerable<PROJ20_G20_DOTNET.Models.Domain.Lid>

@{
    ViewData["Title"] = "Aanwezigheden";
}

<div>
    <h2>Aanwezigheden</h2><br />
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        @foreach (var Lid in Model) {
            <div class="aanwezigFalse">
                <p class="aanwezigLidName"><strong>@Lid.Achternaam @Lid.Voornaam</strong></p>
                <form method="post">
                    <button class="btn btn-primary" type="submit" asp-action="VoegAanwezigheidToe" asp-route-id="1" asp-route-id2="2">Aanwezig</button>
                </form>
            </div>
        }
    </div>
</div>
