@model IEnumerable<PROJ20_G20_DOTNET.Models.Domain.Graad>

@{
    ViewData["Title"] = "Graden";
}

<div>
    <h2>Kies je graad</h2>
    <hr />
    @foreach (var Graad in Model) {
        <div>
            <form>
                <a asp-controller="Oefening" asp-action="Index" asp-route-id="@Graad">@Graad</a>
            </form>
        </div>
    }
</div>
